
<div class="field">
    <%= f.label :Image_of_object %><br>
    <%= f.file_field :image %>
</div>
 <div class="field">
    <%= f.label :Emoticon %><br>
    <%= f.text_field :type %>
</div>
<div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
</div>
