<%= form_for(@post=Post.new,:url => "/posts/objects",:method=>"post") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Stream_key %>
    <%= f.text_field :key, required: true %>
  </div><br>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div><br>

  <div class="field">
    <%= f.label :comparisons %>
    <%= f.text_field :comparisons, required: true %>
  </div><br>

  <div class="field">
    <%= f.label :background_Image %>
    <%= f.file_field :background, required: true %>
  </div><br>

  <div class="field">
    <%= f.label :Duration %>
    <%=  f.time_select :duration, start_hour: 0 , end_hour: 3, default:{hour: 0, minute: 30} %>
  </div><br>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

