<%= form_for(@post,:url => url_for(:controller=>'posts',:action=>'objects'),:method=>"get") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :comparisons %><br>
    <%= f.text_field :comparisons %>
  </div>
  <div class="field">
    <%= f.label :background_image %><br>
    <%= f.file_field :background_image %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.time_select :duration %>
  </div>
  <div class="field">
    <%= f.label :start_time_from_now %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
