<%= form_for(@post=Post.new,:url => "/posts/objects",:method=>"post") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Stream_key %><br>
    <%= f.text_field :key, required: true, placeholder: "Stream key"%>
  </div><br>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "Title"%>
  </div><br>

  <div class="field">
    <%= f.label "Number of comparisons" %>
    <%= f.select :comparisons, {"Two": 2,"Three": 3,"Four": 4,"Five": 5,"Six": 6},{include_blank: "Select"}, {required: 'true', class: 'select'}%>
  </div><br>

  <div class="field">
    <%= f.label :background_Image %>
    <%= f.file_field :background, {required: 'true', class: 'file_select'}%>
  </div><br>

  <div class="field">
    <%= f.label :Duration %>
    <%=  f.time_select :duration, {start_hour: 0 , end_hour: 3, default:{hour: 0, minute: 30}},{required: 'true', class: 'select'} %>
  </div><br>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

