<%= form_for(@compare_object,url: "/posts", method: "post") do |f| %>
	
	<%= hidden_field_tag :id,@post.id %>
	<%@post.comparisons.times do |i|%>
	<div class="object">
		<h3 style= "color: orange;">For object <%=i+1%> : </h3>
		<br/>
		<div class="field"> 
		<%= f.label "Name:" %> 
		<%= f.text_field :name, name: "compare_object[#{i}][name]", required: true %>
		</div>
    	<br/>
    	<div class="field">
    	<%= f.label "Reaction:" %> 
		<%= f.radio_button :emoticon,"like",name: "compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/like.png" class="reaction"></div>
		
		<%=f.radio_button :emoticon,"love",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/love.png" class="reaction"></div>
		<%=f.radio_button :emoticon,"haha",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/haha.png" class="reaction"></div>
		<%=f.radio_button :emoticon,"wow",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/wow.png" class="reaction"></div>
		<%=f.radio_button :emoticon,"sad",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/sad.png" class="reaction"></div>
		<%= f.radio_button :emoticon,"angry",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio"><img src="/assets/angry.png" class="reaction"></div>
		</div>
		<br/>
		<div class="field">	
		<%= f.label "Image:" %>
		<%= f.file_field :image, name: "compare_object[#{i}][image]", required: true%>
		<strong>Recommended scale: 1280x720</strong>
		</div>
		<br/>
		<br/>
	</div>
  	<% end %>
  	
  	<div id="submit">
  	<%= f.submit "Submit"%>
  	</div>
<% end %>

