<%= form_for(@compare_object,url: "/posts", method: "post") do |f| %>
	
	<%= hidden_field_tag :id,@post.id %>
	<%@post.comparisons.times do |i|%>
		
		<h3 style= "color: orange;">For object <%=i+1%> : </h3>
		<br/>
		<div id="field"> 
		<%= f.label "Name:" %> 
		<%= f.text_field :name, name: "compare_object[#{i}][name]", required: true %>
		</div>
    	<br/>
    	<div id="field">
    	<%= f.label "Reaction:" %> 
		<div id="radio">Like</div>
		<%= f.radio_button :emoticon,"like",name: "compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio">Love</div>
		<%=f.radio_button :emoticon,"love",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio">Haha</div>
		<%=f.radio_button :emoticon,"haha",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio">Wow</div>
		<%=f.radio_button :emoticon,"wow",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio">Sad</div>
		<%=f.radio_button :emoticon,"sad",name:"compare_object[#{i}][emoticon]",checked:false%>
		<div id="radio">Angry</div>
		<%= f.radio_button :emoticon,"angry",name:"compare_object[#{i}][emoticon]",checked:false%>
		</div>
		<br/>
		<div id="field">	
		<%= f.label "Image:" %>
		<%= f.file_field :image, name: "compare_object[#{i}][image]", required: true%>
		</div>
		<br/>
		<br/>
  	<% end %>
  	<div id="submit">
  	<%= f.submit "Submit",:id => "preview_submit"%>
  	</div>
<% end %>

<script>
	document.getElementById('preview_submit').onclick = function(){
		document.body.style.opacity = 0.9;
		var div = document.createElement("div");
		div.setattribute('id','modal'); 
	}
</script>

