<section id="intro" class="back_image">
	<div class="black_box">
		<p>
		Want to ask your friends what you're up to? Have something on your mind that you want to compare?
		</p>
	</div>
	<div class="black_box">
		<p>
			We can make it easy for you to Go Live on FB. Just go through all 
			<a href="/steps">STEPS</a> 
			and we'll do the rest for you.
		</p>
	</div>
</section>

<section id="about_us" class="section">
	<div class="heading">
			WHAT WE DO
	</div>
	
	<div class="content">
		We post live videos on your behalf which will keep on updating on the basis of facebook reactions of the video that can be used to compare objects and polling purpose.
		Live is the best way to interact with viewers in real time. Field their burning questions, hear what's on their mind and check out their Live Reactions to gauge how your broadcast is going.
	</div>

	<div class="content">
		
	</div>

	<div class="content">
		Posting live video lets you connect with the people who care most. Your followers can receive notifications when you go live so they know to tune in to your broadcasts at just the right time.
	</div>

</section>

<section id="requisites" class="section grey">
	<div class="heading">
			WHAT WE NEED
	</div>
	<ul>
		<li>
			<div class="name">
				Title
			</div>
			<div class="description">
				Short description on basis of which you want your viewers to vote.
			</div>
		</li>
		<li>
			<div class="name">
				Background Image
			</div>
			<div class="description">
				A nice background can make a video look great. This image appears throughout the video, so make sure to have an image that suits with entire frame of video.
			</div>
		</li>
		<li>
			<div class="name">
				Comparision Objects
			</div>
			<div class="description">
				These are the objects that you want to compare. We need their name, image and the FB reaction that represents the object for viewers.
			</div>
		</li>
		<li>
			<div class="name" >
				Duration
			</div>
			<div class="description">
				You can select the duration of video. Facebook allows videos of length upto 4 hours. 
			</div>
		</li>
	</ul>
</section>

<section id="tips" class="section">
	<div class="heading">
			TIPS AND TRICKS
	</div>
	<p class="list_head">
		These are the things that we expect you to consider while posting a live video for best results :
	</p>
	<ul class="list">
		<li>
			All the uploaded images should have 3:2 aspect ratio (1080x720) 
		</li>
		<li>
			Title should be brief and clear for your viewers to understand the purpose of the video.
		</li>
		<li>
			A catchy caption and description increases reach of the post and help your viewers understand what your broadcast is about.
		</li>
		<li>
			Tell fans and your viewers when you're broadcasting ahead of time.
		</li>
		<li>
			Broadcast for longer periods of time to reach more people. We recommend that you go live for at least 10 minutes, although you can stay live for up to 4 hours at a time.
		</li>
	</ul>
</section>


<section id="samples" class="section grey">
	<div class="heading">
			SAMPLE VIDEOS
	</div>
	<ul class="video_box list">
		<li><%= video_tag "1.mp4",controls: true,class: "video"%></li>
		<li><%= video_tag "1.mp4",controls: true,class: "video"%></li>
		<li><%= video_tag "1.mp4",controls: true,class: "video"%></li>
		<li><%= video_tag "1.mp4",controls: true,class: "video"%></li>
		<li><%= video_tag "1.mp4",controls: true,class: "video"%></li>
	</ul>
</section>

