<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1"><a href="/steps">Step 1</a></label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><a href="/posts/new">Step 2</a></label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3"><a href="/posts/new">Step 3</a></label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4"><a href="/posts/new">Step 4</a></label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5"><a href="/posts/new">Step 5</a></label>
    
  <section id= "dashboard">
  	<div class="aim">
  		Our aim of this step is to generate a stream key from facebook so that we can use it to stream video to your post. 
  	</div>
	<div id="division">
	<p id="text">1. Click the <button id="liveButton">New Post</button> button and login to your facebook account.</p>
	<%= image_tag "1.png" ,:class => "dimage_01"%>
	</div>

	<div id="empty"></div>

	<div id="division">
	<p id="text">2. Select where you want to post your video from the options provided.</p>
	<%= image_tag "2.png" ,:class => "dimage_01"%>
	</div>

	<div id="empty"></div>

	<div id="division">
	<p id="text">3. Click on the + Live button to begin configuring your Live post.</p>
	<%= image_tag "3.png" ,:class => "dimage_03"%>
	</div>

	<div id="empty"></div>

	<div id="division">
	<p id="text" class="stext">4. Copy the stream key from this and give it to us!</p>
	<%= image_tag "4.png" ,:class => "dimage_04"%>
	</div>
	</section>

	<div id="nextpost">
	<%= link_to 'Lets Get Started', new_post_path,:class => "button",:onclick => 'return openPopup(this);'%>
	</div>

	
</main>
<script>
document.getElementById('liveButton').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'live_broadcast',
    phase: 'create',
}, function(response) {
    if (!response.id) {
      alert('dialog canceled');
      return;
    }
    alert('stream url:' + response.secure_stream_url);
    FB.ui({
      display: 'popup',
      method: 'live_broadcast',
      phase: 'publish',
      broadcast_data: response,
    }, function(response) {
    alert("video status: \n" + response.status);
    });
  });
};
</script>

